# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
